body{
    font-family: 'Roboto', sans-serif;
    direction: rtl;
    overflow-x: hidden;
    min-height: 150vh;
}

.img{
    background-image: url(/img/image\ 1.png);
    background-size:cover;
    background-repeat: repeat-x;
    position: relative;
    width: 70%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}


.p{
    text-align: right;
}

@media (min-width:800px) {
    section .img{
        width: 70%;
        min-height: 300px;
    }
    section1{
        width: 100%;
    }
    .p{
        width: 100%;
        margin: 0;
    }
}
@media (min-width:350px) {
    section .img{
        width: 70%;
        min-height: 300px;
    }
    section1{
        width: 100%;
    }
}
